@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  font-family: "Manrope", sans-serif;
}
button:focus {
  outline: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  line-height: 1.4em;
  font-weight: 400;
  color: #27187e;
}
.container-fluid {
  padding-left: var(--bs-gutter-x, 3.75rem);
  padding-right: var(--bs-gutter-x, 3.75rem);
}
main {
  position: relative;
  z-index: 10;
  padding-bottom: 10rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
nav .logo {
  margin-top: -1.6rem;
}
nav .logo svg {
  height: 3rem;
  width: 3rem;
}
nav .logo svg path {
  fill: #27187e;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  padding-right: 2rem;
}
nav ul li:last-child {
  padding-right: 0;
}
nav ul li a {
  color: #27187e;
  text-decoration: none;
  font-size: 1.6rem;
  transition: 0.3 all ease-in-out;
  font-weight: 600;
}
nav ul li a:hover {
  opacity: 0.6;
  color: #27187e;
}
h3 {
  font-weight: 800;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.header-text {
  padding: 4rem 0;
}
.header-text h1,
.header-text p {
  color: #27187e;
}
.header-text p {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .header-text {
    padding: 12rem 0 12rem 0;
  }
}
@media (max-width: 768px) {
  header {
    background-color: #fff;
  }
}
.back-to-jobs {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 2rem;
  color: #27187e;
  font-weight: 600;
  border: 1px dashed #27187e3b;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.3s all ease-in-out;
}
.back-to-jobs svg {
  transform: rotate(90deg);
  vertical-align: middle;
  margin-left: -0.5rem;
  margin-top: -0.3rem;
  width: 24px;
  height: 24px;
}
.back-to-jobs svg .arrow {
  fill: #27187e;
}

.back-to-jobs:hover {
  font-style: normal;
  color: #fff;
  background-color: #27187e;
}

.back-to-jobs:hover svg .arrow {
  fill: #fff;
}

.back-to-top {
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
  color: #27187e;
  font-weight: 600;
  border: 1px dashed #27187e3b;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.3s all ease-in-out;
}
.back-to-top:hover {
  font-style: normal;
  color: #fff;
  background-color: #27187e;
}
h1 {
  font-weight: 900;
  font-size: 4rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  #about-section {
    margin-top: 4rem;
  }
  #about-section h3 {
    margin-bottom: 1rem;
  }
}
#about-section {
  margin-bottom: 6rem;
}
#project-section {
  margin: 6rem 0.5rem 3rem 0.5rem;
  padding: 6rem 0 3rem 0;
}
#project-section h1 {
  margin-bottom: 4rem;
}
#all-project-section h1 {
  margin-bottom: 4rem;
}
.accordion .accordion-item {
  border: none;
  border-bottom: 1px solid #27187e;
  background-color: transparent;
  border-radius: 0;
}
.accordion .accordion-item:first-child {
  border-top: 1px solid #27187e !important;
}
.accordion .accordion-item button {
  padding: 1.5rem 0;
  font-size: 1.8rem;
  font-weight: 700;
  color: #27187e;
  background-color: transparent;
}
.accordion .accordion-item button::after {
  background-size: 3rem;
  width: 3rem;
  height: 3rem;
  background-image: url('../images/arrow-down.svg');
}
.accordion .accordion-item button:focus {
  box-shadow: none;
  border-color: #27187e !important;
  outline: none;
}
.accordion .accordion-item button:hover {
  color: #27187e;
}
.accordion .accordion-item button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
  color: #27187e;
}
.accordion .accordion-item button:not(.collapsed)::after {
  /*background-image: url('../images/arrow-up.svg');*/
}
.accordion .accordion-item .accordion-body {
  padding: 2rem 0 4rem 0;
  background: transparent;
}
@media (min-width: 1200px) {
  h1,
  h3,
  p,
  .img-wrapper,
  .project-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(0);
  }
  h1::before,
  h3::before,
  p::before,
  .img-wrapper::before,
  .project-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right;
    transition: 0.6s;
  }
  h1[data-scroll="in"],
  h3[data-scroll="in"],
  p[data-scroll="in"],
  .img-wrapper[data-scroll="in"],
  .project-wrapper[data-scroll="in"] {
    transform: scaleX(1);
  }
  h1[data-scroll="in"]::before,
  h3[data-scroll="in"]::before,
  p[data-scroll="in"]::before,
  .img-wrapper[data-scroll="in"]::before,
  .project-wrapper[data-scroll="in"]::before {
    transform: scaleX(0);
    transition-delay: 0.5s;
  }
}
.header-text h1::before,
.header-text p::before,
.header-text h3::before,
#about-section h1::before,
#about-section p::before,
#about-section h3::before {
  background: #aeb8fe !important;
}
footer h1::before,
footer p::before {
  background: #aeb8fe !important;
}
.project-outer,
.project-outer-xs {
  text-decoration: none;
  display: block;
  margin-bottom: 3.5rem;
}
.project-outer .img-wrapper,
.project-outer-xs .img-wrapper {
  overflow: hidden;
}
.project-outer .img-wrapper img,
.project-outer-xs .img-wrapper img {
  transition: 1s all ease-in-out;
}
.project-outer:hover .img-wrapper img,
.project-outer-xs:hover .img-wrapper img {
  transform: scale(1.1);
}
.project-outer:hover .project-wrapper h3,
.project-outer-xs:hover .project-wrapper h3 {
  color: #27187e;
}
.project-outer:hover .project-wrapper .project-icon,
.project-outer-xs:hover .project-wrapper .project-icon {
  opacity: 1;
}
.project-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.project-wrapper .project-title h3 {
  font-size: 2rem;
  color: #27187e;
  margin-bottom: 0;
  padding: 0;
}
.project-wrapper .project-title p {
  color: #27187e;
  opacity: 0.7;
}
.project-wrapper .project-icon {
  margin-top: 0.6rem;
  opacity: 0;
  transition: opacity 0.3s;
}
.project-wrapper .project-icon svg {
  height: 3rem;
  width: 3rem;
  transform: rotate(-90deg);
}
.project-wrapper .project-icon svg path:first-child{
  fill: #27187e;
}
.project-outer-xs {
  border-bottom: 1px solid #000;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .project-wrapper .project-icon {
    opacity: 1;
  }
}
footer {
  padding: 8rem 0 4rem 0;
  border-top: 1px solid #27187e;
}
footer .copyright {
  display: inline-block;
  font-size: 1.2rem;
}
footer a {
  text-decoration: none;
  color: #27187e;
  font-weight: 600;
}
footer a:hover {
  color: #27187e;
  opacity: 0.6;
}
footer h1 {
  margin-bottom: 2rem;
}
.socials a {
  display: inline-block;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .d-flex {
    height: 50vh;
  }
  footer {
    padding: 3rem 0 4rem 0;
  }
  footer .footer-bottom .col-sm-6:last-child {
    text-align: right;
  }
}
@media (max-width: 768px) {
  footer .footer-bottom {
    margin-top: 3rem;
  }
  footer .footer-bottom .col-sm-6:last-child {
    margin-top: 2rem;
    text-align: left;
  }
}

.slideshow {
  display: flex;
  margin-bottom: 5rem;
}
.slideshow img {
  width: 25%;
}
